<!DOCTYPE html>
<html>
<head>
  <title>Google Ad Example</title>
  <style>
    /* Center the container */
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* Style the photo */
    .container img {
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Example of an Ad specifically meant for customers having problems related to their cards- ChatBot Connection</h1>
    <a href="https://t.me/clientboostbot?start=1">
      <img src="http://127.0.0.1:8000/media/imagine_bank.jpeg" alt="Photo" onclick="window.location.href='https://example.com'">
    </a>
  </div>
</body>
</html>
