[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
datasets = "*"
djangorestframework = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
aiohttp = "*"
channels = "*"
channels-redis = "*"
psycopg = "*"
telebot = "*"

[dev-packages]

[requires]
python_version = "3.10"
